<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddReservation</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="common_navbar"></nav>

<div id="content">
    <h1>New Reservation </h1>
    <form th:action="@{/reservation/showForm}" th:object="${reservation}" method="post">
        <label>Ticket price : </label>
        <input type="text" th:field="*{ticketPrice}"/>
        <br>
        <label>Number Seat: </label>
        <input type="text" th:field="*{seat}"/>
        <br>
        <label>Train:</label>
        <input type="text" th:field="*{train.id}"/>
        <br>
        <label>User:</label>
        <input type="text" th:field="*{user.username}"/>
        <br>
        <input type="submit" class="btn btn-dark" value="Save Reservation">
    </form>
</div>
</body>
</html>
