<nav xmlns:th="http://www.thymeleaf.org" th:fragment="common-nav" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/findAllReservations">Reservation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trains/findAll">Trains</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addRegisterUser">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
        </li>
    </ul>
</nav>


