<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="common_navbar"></nav>
<div id="content">
    <h1>Welcome to Train Reservation APP </h1>
    <img  th:src="@{/images/homepagefoto.jpg}">
</div>
</body>
</html>
