<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace= "common_navbar"></nav>
<div id="content" >
    <form th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
        <label for="username">Username</label>
        <input id="username" type="username" name="username"/><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/></br>
        <div class="form-actions">
            <button type="submit" class="btn btn-dark">Log in</button>
        </div>
        </fieldset>
    </form>
</div>
</body>
</html>
