<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Train</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="common_navbar"></nav>
<div id="content">
    <h1>New Train </h1>
    <form th:action="@{/trains/addTrain}" th:object="${train}" method="post">
        <label for="name">Train name:</label> <input type="text" id="name" th:field="*{name}"/>
        <br>
        <label for="departureStation">Departure Station: </label>
        <select id="departureStation" th:field="*{departureStation}">
            <option th:each="station:${allStations}" th:value="${station.id}" th:text="${station.name}">
            </option>
        </select>
        <br>
        <label>Departure Time:</label>
        <input th:name="departureTime" type="time"/>
<!--        th:field="*{departureDate}-->
        <br>
        <label>Arrival Station:</label>
        <select id="arrivalStation" th:field="*{arrivalStation}">
            <option th:each="station:${allStations}" th:value="${station.id}" th:text="${station.name}">
            </option>
        </select>
        <br>
        <label>Travel Time: </label>
        <input th:name="travelTime" type="time"/>
<!--        th:field="*{travelTimeMillis}"-->
        <br>
        <label>Distance: </label>
        <input type="text" th:field="*{distance}"/>
        <br>
        <label>All Seats: </label>
        <input type="text" th:field="*{allSeats}"/>
        <br>
        <label>Number Free Seats:</label>
        <input type="text" th:field="*{nrFreeSeats}"/>
        <br>
        <input type="submit" class="btn btn-dark" value="Save Train">
    </form>
</div>
</body>
</html>
