<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registration succeded</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="common_navbar"></nav>
<div align="center">
    <div class="users" id="content">
        <h1> Registration succeded!</h1>
        <span>Username:</span><span th:text="${user.username}"></span>
    </div>
    <div>
        <td>
            <form method="get" th:action="@{/login}">
                <input type="submit" class="btn btn-dark" value="Log In"></form>
        </td>
    </div>
</div>
</body>
</html>

