<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation</title>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <!--   <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
</head>
<tbody>
<nav th:replace="common_navbar"></nav>
<div align="center" class="reservations" id="content"></div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Seat</th>
        <th>Price Ticket</th>
        <th>Train name</th>
        <th>User Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="reservation: ${allReservations}">
        <tr>
            <td>
                <p th:text="${reservation.id}"></p>
            </td>
            <td>
                <p th:text="${reservation.seat}"></p>
            </td>
            <td>
                <p th:text="${reservation.ticketPrice}"></p>
            </td>
            <td>
                <p th:text="${reservation.train.name}"></p>
            </td>
            <td>
                <p th:text="${reservation.user.username}"></p>
            </td>
            <td>
                <form method="post" th:action="@{/reservations/delete/{id}(id=${reservation.id})}">
                    <input type="submit" class="btn btn-dark" value="Delete">
                </form>
            </td>
        </tr>
    </div>
    <div>
        <td>
            <form method="get" th:action="@{/reservations/addNewReservation}">
                <input type="submit" class="btn btn-dark" value="Add Reservation">
            </form>
        </td>
    </div>
    </tbody>
</table>
</html>
