<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trains</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="common_navbar"></nav>
<div align="center" class="trains" id="content">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Train Name</th>
            <th>Departure Station</th>
            <th>Departure Time</th>
            <th>Arrival Station</th>
            <th>Travel Time Millis</th>
            <th>Distance</th>
            <th>All seats</th>
            <th>Free seats</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="train: ${allTrains}">
            <tr>
                <td>
                    <p th:text="${train.id}"></p>
                </td>
                <td>
                    <p th:text="${train.name}"></p>
                </td>
                <td>
                    <p th:text="${train.departureStation.name}"></p>
                </td>
                <td>
                    <p th:text="${train.departureTime}"></p>
                </td>
                <td>
                    <p th:text="${train.arrivalStation.name}"></p>
                </td>
                <td>
                    <p th:text="${train.travelTime}"></p>
                </td>
                <td>
                    <p th:text="${train.distance}"></p>
                </td>
                <td>
                    <p th:text="${train.allSeats}"></p>
                </td>
                <td>
                    <p th:text="${train.nrFreeSeats}"></p>
                </td>
                <td>
                    <form method="put" th:action="@{/trains/update/{id}(id=${train.id})}">
                        <input type="submit" class="btn btn-dark" value="Update">
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/trains/delete/{id}(id=${train.id})}">
                        <input type="submit" class="btn btn-dark" value="Delete">
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
        <div>
            <td>
                <form method="get" th:action="@{/trains/addNewTrain}">
                    <input type="submit" class="btn btn-dark" value="Add Train"></form>
            </td>
        </div>
    </table>
</div>
</body>
</html>
