<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace= "common_navbar"></nav>
<div id="content" >
    <h1>User Registration</h1>
    <form th:action="@{/submitRegister}" th:object="${user}" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}" /><br/>
        <label for="password">Password</label>
        <input id="password" type="text" th:field="*{password}" /><br/>
        <input type="submit" class="btn btn-dark" value="Register">
        </form>
</div>
</body>
</html>

